<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11 POS Quotation, Reorder, Reprint</h2>
            <br/>
<div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <div>
                <h3>
                    Features
                </h3>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Create Draft Order from Point of Sale.</li>
                    <li style="color:#30054D;font-weight:bold;">View Order History.</li>
                    <li style="color:#30054D;font-weight:bold;">Filters on Order History.</li>
                    <li style="color:#30054D;font-weight:bold;">Reprint Any Order Receipt.</li>
                    <li style="color:#30054D;font-weight:bold;">View Items of Any Order.</li>
                    <li style="color:#30054D;font-weight:bold;">Edit Drafted Order.</li>
                    <li style="color:#30054D;font-weight:bold;">Make duplicate of Any Order.</li>
                </ul>
            </div>
            
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
            <ul>
                <li style="color:#30054D;font-weight:bold;">Here you can set configuration for order list in POS.</li>
                <li style="color:#30054D;font-weight:bold;">As per below image you can set last days that is used for display POS orders from n number of days.</li>
                <li style="color:#30054D;font-weight:bold;">Record per page is used to display number of records per page in order list.</li>
            </ul>
            <img style="max-width: 100%;" src="1.config.png"><br /><br />
             <ul>
                <li style="color:#30054D;font-weight:bold;">Then create a button on home screen of pos as given in the below image.</li>
                <li style="color:#30054D;font-weight:bold;">create another button on home screen to make a pos order as draft.</li>
            </ul>
            <img style="max-width: 100%;" src="main_screenshot.png"/><br /><br />
             <ul>
                 <li style="color:#30054D;font-weight:bold;">Now here is the list of past pos orders in tabular format.</li>
                 <li style="color:#30054D;font-weight:bold;">On this orders table you can do filtration, re-print receipt, manually reload orders,re-order the order, view products of order as given in the below image.</li>
             </ul>
             <img style="max-width: 100%;" src="3.order_list.png"><br /><br />
             <ul>
                 <li style="color:#30054D;font-weight:bold;">Here is the product popup that contains list of products of particular order.</li>
                 <li style="color:#30054D;font-weight:bold;">Whenever you click on product icon it will show order details. You can also re-order from this popup.</li>
             </ul>
             <img style="max-width: 100%;" src="4.products_popup.png"><br /><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Email us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>