/*The OrderList List Screen */
.pos .orderlist-screen .order-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}

.pos .orderlist-screen .order-list th, .pos .orderlist-screen .order-list td
{
    padding: 0px 5px;
}

.pos .orderlist-screen .order-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.pos .orderlist-screen .order-list thead>tr, .pos .orderlist-screen .order-list tr:nth-child(even)
    {
    background: rgb(247, 247, 247);
}

.pos .orderlist-screen .order-list tr.highlight {
    transition: all 150ms linear;
    background: rgb(110, 200, 155) !important;
    color: white;
}

.pos .orderlist-screen .order-list tr.lowlight {
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}

.pos .orderlist-screen .order-list tr.lowlight:nth-child(even) {
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}

.screen .top-content .filter {
    margin-left: 10px;
    margin-top: 15px;
}

.screen .top-content .button.paid {
    left: 0px;
    margin-left: 136px;
}

.screen .top-content .button.draft {
    left: 0px;
    margin-left: 236px;
}

.screen .top-content .button.posted {
    left: 0px;
    margin-left: 336px;
}

.screen .top-content .button.date {
    left: 0px;
    margin-left: 536px;
    z-index: 100;
}

.screen .top-content .button.not-selected {
    background: rgb(230, 230, 230);
    color: #000;
}

.screen .top-content .button.selected {
    background: #088000;
    color: #FFF;
}

.pos .orderlist-screen .searchbox {
    right: auto;
    margin-left: -150px;
    margin-top: 8px;
    left: 92%;
}

.screen .top-content .button.not-selected {
    background: rgb(230, 230, 230);
}

.pos .orderlist-screen .searchbox input {
    width: 120px;
}

.screen .top-content .date-filter input {
    margin-top: 13px;
    margin-left: 72px;
    width: 150px;
    height: 27px
}


.screen .top-content .date-filter i {
    height: 20px;
}

#pagination {
    margin-top: 20px;
    float: left;
}

#pagination div {
    display: inline-block;
}

.popup-reorder-product {
    padding: 3px !important;
    border-radius: 5px !important;
    background: rgba(255, 255, 255, 0.5);
    width:819px !important;
}

.popup-reorder-product .title {
    margin: 0;
    padding: 20px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: solid 3px rgba(110, 200, 155, 1) !important;
}

.popup-reorder-product .popup-product-list {
    border-spacing: 0.5rem;
    border-collapse: collapse;
    width: 100%;
}

.popup-reorder-product .popup-product-list thead tr {
    font-size: 18px;
}

.popup-reorder-product .popup-product-list table{
    overflow-y: auto;
    text-align: left
}

.popup-reorder-product .popup-product-list tbody tr {
    font-size: 14px;
    font-weight: normal !important;
    line-height: 3rem;
    
}

.popup-reorder-product .popup-product-list tbody tr:nth-child(even) {
    background: rgb(230, 230, 230);
}

.popup-reorder-product .header .btn {
    cursor: pointer;
    float: right;
    border:none !important;
    background: none !important;
}

.popup-reorder-product .footer .save .icon {
    float: left;
}

.popup-reorder-product .footer .save .text {
    float: left;
    margin-left: 8px;
    margin-top: -5px;
}
.rotate {
    transform: rotate(-360deg);
    transition: .7s;
}
.rotate-reset {
    transform: rotate(0deg);
    transition: .7s;
}